 <div class="parent">
                       
                    <div class="div1">
                        <div class="chats">
                            <div class="div3">
                            <h3>Chats <i class="fa fa-plus" aria-hidden="true"></i> <i class="fa fa-search" aria-hidden="true"></i> </h3> 
                            
                            <p></p>
                            </div>
                            <div class="div4">
                            <img src="https://pbs.twimg.com/profile_images/1401562839614210052/yo9BeNMD_400x400.jpg">  <h4 class="name">Karim Benzema</h4>
                            
                            <h5 class="lastmsg"> Vous : Marque stp <p class="time">5m</p></h5>
                            </div>
                            <div class="div5">
                             <img src="https://webtv.univ-rouen.fr/public/videos/v125f6402be9ahyq0i3d5qg0mplc2g/thumb.jpg">  <h4 class="name">Une femme enceinte</h4>
                            
                            <h5 class="lastmsg"> ça marche ! <p class="time">2h</p></h5></div>
                            <div class="div6">
                             <img src="https://assets.codepen.io/441923/internal/avatars/users/default.png?fit=crop&format=auto&height=256&version=1536233615&width=256">  <h4 class="name">Random</h4>
                            
                            <h5 class="lastmsg">Vous : Zzzz... <p class="time">2j</p></h5></div>
                        </div>
                    </div>
                    <div class="div2">
                        <div class="showmessenger">
                            <div class="div1"><h4>Discussion avec Karim Benzema </h4><hr class="solid"></div>
                            
                            <div class="div2">
                               <div class="msg-bubble">
        <div class="msg-info">
         <img src="https://pbs.twimg.com/profile_images/1401562839614210052/yo9BeNMD_400x400.jpg">
          <div class="msg-info-name">Karim Benzema</div>
          <div class="msg-info-time">12:45</div>
        </div>

        <div class="msg-text">
          FUMIER 
        </div>
      </div>
    </div>

    <div class="msg right-msg">
      <div
       class="msg-img"
       style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)"
      ></div>

      <div class="msg-bubble">
        <div class="msg-info">
          <div class="msg-info-name">Moi</div>
          <div class="msg-info-time">12:46</div>
        </div>

        <div class="msg-text">
          Marque stp
        </div>
      </div>
    
                                </div>
                                <div class="div3">
                                    <textarea></textarea>  <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                </div>
                        </div>
                    </div>
                        
                </div>