<section id="showprofile">
<div class="card-container">

	<img class="round" src="https://randomuser.me/api/portraits/women/79.jpg" alt="user" />
	<h3><%= current_user.email%></h3>
	<h6><%= current_user.level%></h6>
	<p>description <br/> front-end developer</p>
	<div class="buttons">
		
	</div>
	<div class="skills">
		<h6>Champions joués</h6>
		<ul>
			<li></li>
		
		</ul>
	</div>
</div>

</section>