Salut <%= @user_b.summoner_name %> et bienvenue chez nous !
==========================================================
 
Tu viens de matcher avec un joeur ! 
 
Pour accéder à ton espace Jungler, connecte-toi via <p><a href="https://jungler-thp.herokuapp.com/" class="btn btn-primary">Notre site</a></p>.
 
À très vite sur Jungler !