Salut <%= @user.email %> et bienvenue chez nous !
==========================================================
 
Tu t'es inscrit sur jungler-thp.herokuapp.com en utilisant l'e-mail suivant : <%= @user.email %>.
 
Pour accéder à ton espace client, connecte-toi via : <a href='https://jungler-thp.herokuapp.com/users/sign_in'>Notre site</a>.
 
À très vite sur Jungler !