<div class="form-container">
<div class="title-container">
<h1>Editer les stats de joueur</h1>
</div>

<%= render 'form', user_game_stat: @user_game_stat %>

<%= link_to 'Show', @user_game_stat %> |
<%= link_to 'Back', user_game_stats_path %>
</div>
