<main id="conversation-focus">

    <div class="main-wrapper">

        <div class="main-head">
            <h1 class="title">Conversations</h1>
        </div>

        <div class="main-content-conversations">

            <div class="conversation-left">
                
                <% @conversations.sort.each do |conversation| %>

                <a href="<%=conversation_path(conversation.id)%>">
                    <div class="conversation-name current">
                        <%if conversation.participant_a.id == current_user.id%>
                            <%=conversation.participant_b.summoner_name%>
                        <%else%>
                            <%=conversation.participant_a.summoner_name%>
                        <%end%>


                    </div>
                </a>
                <%end%>
                
            </div>

            <div class="conversation-right">

                <div class="conversation-head">                
                    <h3 class="conversation-title">UserName</h3>
                    <ul>
                        <li class="icon"><h3>A</h3></li>
                        <li class="icon"><h3>B</h3></li>
                        <li class="icon"><h3>C</h3></li>
                    </ul>
                </div>

                <div class="conversation-content">
                    <p class="conversation-date">Tuesday, April 7th at 1:21 PM</p>
                    <div class="message message-send">Salut</div>
                    <div class="message message-received">Salut</div>
                    <div class="message message-send">Salut</div>
                    <div class="message message-received">Salut</div>
                    <div class="message message-send">Salut</div>
                    <div class="message message-received">Salut</div>
                    <div class="message message-send">Salut</div>
                    <div class="message message-received">Salut</div>
                    <div class="message message-send">Salut</div>
                    <div class="message message-received">Salut</div>
                    <div class="message message-send">Salut</div>
                    <div class="message message-received">Salut</div>
                </div>
                


            </div>
        
        </div>

    </div>

</main>

<aside>
    <%= render "aside" %>
</aside>
