<main id="conversation-focus">

    <div class="main-wrapper">

        <div class="main-head">
            <h1 class="title">Conversations</h1>
        </div>

        <div class="main-content-conversations">

            <div class="conversation-left">
                
                <% @conversations.sort.each do |conversation| %>

                <a href="<%=conversation_path(conversation.id)%>">
                    <div class="conversation-name current">
                        <%if conversation.participant_a.id == current_user.id%>
                            <%=conversation.participant_b.summoner_name%>
                        <%else%>
                            <%=conversation.participant_a.summoner_name%>
                        <%end%>


                    </div>
                </a>
                <%end%>
                
            </div>

            <div class="conversation-right-index">

                <h3 class="conversation-alert">Clique sur la gauche pour naviguer dans tes conversations</h3>

            </div>
        
        </div>

    </div>

</main>

<aside>
    <%= render "aside" %>
</aside>
