


<% @conversations.each do |conversation| %>
    

            <div>
                  
              <p><img src="https://pbs.twimg.com/profile_images/1401562839614210052/yo9BeNMD_400x400.jpg"></p> 
              <p> <h4 class="name">Karim Benzema</h4></p>
              <p><%= link_to 'Show', conversation %></p>
              <p><%= link_to 'Destroy', conversation, method: :delete, data: { confirm: 'Are you sure?' } %></p>
            </div>



    <% end %>




<%= link_to 'New Conversation', new_conversation_path %>
