<div class="main-wrapper" id="discovery-focus">
    <div class="main-head">
        <h1 class="title">Conditions d'utilisation</h1>
    </div>
    <div class="main-content-discovery">

        <div class="cell-discovery inset">
            <h1>1. Accord d'acceptation des Conditions d'utilisation</h1>
            <p>En créant un compte Jungler ou en utilisant l’application Jungler iMessage (« Jungler Stacks »), que ce soit sur un appareil mobile, une application mobile ou sur ordinateur (ensemble, le « Service »), vous acceptez d’être lié par les présentes Conditions d’utilisation, notre <a href="https://github.com/benitodotcool/Jungler/blob/master/README.md" target="_blank">Politique de confidentialité</a> et les <a href="https://github.com/benitodotcool/Jungler/blob/master/README.md" target="_blank">Conseils de sûreté</a>, chacun incorporé par référence au présent Accord, et toutes conditions divulguées et que vous acceptez si vous achetez des fonctions, produits ou services supplémentaires que nous offrons sur le Service (ensemble, le présent « Accord »). Si vous n’acceptez pas l’ensemble des conditions du présent Accord (outre le droit unique et limité pour certains utilisateurs de se désinscrire, stipulé dans la section 16), et que vous refusez d’être lié par celles-ci, veuillez ne pas utiliser le Service.</p>
            <p>Nous sommes susceptibles d’apporter des changements au présent Accord et au Service à tout moment. Nous pouvons le faire pour différentes raisons, notamment pour refléter des changements de la loi ou de ses exigences, de nouvelles fonctions, ou des changements dans les pratiques commerciales. La version la plus récente du présent Accord sera publiée dans la section Service dans les Paramètres ainsi que sur gojungler.com, et nous vous suggérons de consulter régulièrement la version la plus récente. La version la plus récente est celle qui s’applique. Si les changements comprennent des changements matériels qui affectent vos droits ou obligations, nous vous notifierons par avance des changements par des moyens raisonnables, qui pourraient inclure des notifications au travers du Service ou par email. Si vous continuez d’utiliser le Service après l’entrée en vigueur des changements, cela signifie que vous acceptez l’Accord révisé. Vous acceptez que cet Accord prévale sur tout accord précédent (sauf disposition spécifique), et régisse votre relation avec Jungler, y compris sans s’y limiter, les événements, les accords et la conduite qui précèdent votre acceptation du présent Accord.
            </p>
        </div>

        <div class="cell-discovery inset">
            <h1>2. Admissibilité</h1>
            <p>Vous devez être âgé d’au moins 18 ans pour pouvoir créer un compte sur Jungler et utiliser le Service. En créant un compte et en utilisant le Service, vous déclarez et garantissez que :</p>
            <ul>
                <li>vous pouvez conclure un contrat créant des obligations avec Jungler</li>
                <li>vous n’êtes pas une personne à qui il est interdit d’utiliser le Service en vertu des lois des États-Unis ou de toute autre juridiction applicable, c’est-à-dire que vous n’apparaissez pas sur la liste des Nationaux spécifiquement désignés établie par le Département du Trésor américain ni ne faites l’objet d’aucune autre interdiction similaire,</li>
                <li>vous respecterez le présent Accord et l’ensemble des lois, règles et règlements locaux, étatiques, nationaux et internationaux applicables, et</li>
                <li>vous n’avez jamais été condamné ni contesté des allégations pour un crime, un crime à caractère sexuel ou impliquant de la violence, et n’êtes pas tenu de vous déclarer en tant que délinquant sexuel auprès de tout registre des délinquants sexuels au niveau étatique, fédéral ou local.</li>
            </ul>        
        </div>

        <div class="cell-discovery inset">
            <h1>3. Votre Compte</h1>
            <p>Pour utiliser Jungler, vous pouvez vous connecter en utilisant votre identifiant Facebook. Si vous le faites, vous nous autorisez à accéder à certaines informations du compte Facebook et à les utiliser, y compris notamment votre profil public Facebook et les informations concernant les amis Facebook que vous avez en commun avec d’autres utilisateurs de Jungler. Pour plus d’informations concernant les informations que nous collectons auprès de vous et la façon dont nous les utilisons, veuillez consulter notre <a href="https://github.com/benitodotcool/Jungler/blob/master/README.md" target="_blank">Politique de confidentialité</a>.</p>
            <p>Vous êtes responsable de maintenir la confidentialité des identifiants de connexion que vous utilisez pour vous inscrire sur Jungler, et vous êtes seul responsable de toutes les activités survenant sous ces identifiants. Si vous pensez que quelqu’un a eu accès à votre compte, veuillez contacter immédiatement <a href="mailto:team.jungler@gmail.com">team.jungler@gmail.com</a>.</p>
        </div>

        <div class="cell-discovery inset">
            <h1>4. Jungler Stacks</h1>
            <p>Jungler Stacks est une application d’iMessage qui permet aux utilisateurs de vivre une expérience similaire à Jungler à l’extérieur de Jungler. Au travers de Jungler Stacks, vous pouvez sélectionner des photos à partir de votre appareil mobile afin de créer votre propre pile de photos à partager avec vos contacts. Les contacts ayant Jungler Stacks seront en mesure de voter sur les photos en swipant vers la droite, vers la gauche ou en utilisant les boutons de vote. Jungler Stacks fonctionne séparément de l’expérience principale de Jungler, donc lorsque vous utilisez Jungler Stacks, vous ne créez pas de compte, ne vous connectez pas par Facebook, ni ne partagez vos renseignements Facebook avec nous ni ne créez un profil qui sera affiché sur Jungler.</p>
        </div>

        <div class="cell-discovery inset">
            <h1>5. Modification du Service et Résiliation</h1>
            <p>Jungler s’efforce d’améliorer en permanence le Service et de vous apporter des fonctionnalités supplémentaires que vous trouverez intéressantes et utiles. Cela signifie que nous pouvons ajouter de nouvelles fonctions de produit ou des améliorations à tout moment et que de même nous pouvons supprimer certaines fonctions, et si ces actions n’affectent pas matériellement vos droits ou obligations, nous pouvons ne pas vous avertir avant de les appliquer. Nous pouvons même suspendre entièrement le Service, auquel cas nous vous avertirons par avance sauf si des circonstances atténuantes, tels que des problèmes de sûreté ou de sécurité, nous empêchent de le faire.</p>
            <p>Vous pouvez résilier votre compte à tout moment, pour quelque raison que ce soit, en suivant les instructions de la section « Paramètres » du Service, cependant vous devrez gérer vos achats via l’application au travers de la plateforme de votre appareil mobile (par ex., iTunes, Google Play) pour éviter les facturations récurrentes.</p>
            <p>Jungler peut résilier votre compte à tout moment et sans préavis si nous pensons que vous avez violé le présent Accord. Après une telle résiliation, vous n’aurez droit à aucun remboursement de vos achats. Après résiliation de votre compte, le présent Accord sera résilié, à l’exception des stipulations suivantes qui continueront de s’appliquer à vous et à Jungler : Section 5, Section 6 et Sections 13 à 20.</p>
        </div>

        <div class="cell-discovery inset">
            <h1>6. Sûreté: vos interactions avec d’autres utilisateurs</h1>
            <p>Bien que Jungler s’efforce d’encourager une expérience respectueuse de l’utilisateur au travers de fonctions telles que la double option qui ne permet aux utilisateurs de communiquer que si tous deux ont indiqué leur intérêt pour l’autre, nous ne sommes pas responsables de la conduite de tout utilisateur dans le cadre ou en dehors du Service. Vous acceptez d’être prudent dans toutes vos interactions avec d’autres utilisateurs, en particulier si vous décidez d’échanger en dehors du Service ou de vous rencontrer en personne. De plus, vous acceptez de consulter et de suivre les <a href="https://github.com/benitodotcool/Jungler/blob/master/README.md" target="_blank">Conseils de sûreté de Jungler</a>  avant d’utiliser le Service. Vous ne devriez pas fournir vos informations financières (par exemple, les informations relatives à votre carte de paiement ou votre compte bancaire), effectuer un virement ou envoyer de l’argent autrement à d’autres utilisateurs.</p>
            <p>VOUS ÊTES SEUL RESPONSABLE DE VOS INTERACTIONS AVEC D’AUTRES UTILISATEURS. VOUS COMPRENEZ QUE JUNGLER NE PROCÈDE À AUCUNE VÉRIFICATION D’ANTÉCÉDENTS CRIMINELS SUR SES UTILISATEURS NI N’ENQUÊTE AUTREMENT SUR LES ANTÉCÉDENTS DE SES UTILISATEURS. JUNGLER NE FAIT AUCUNE DÉCLARATION NI GARANTIE QUANT À LA CONDUITE DES UTILISATEURS. JUNGLER SE RÉSERVE LE DROIT DE — ET VOUS ACCEPTEZ QUE JUNGLER PUISSE — PROCÉDER À UNE VÉRIFICATION D’ANTÉCÉDENTS CRIMINELS OU À D’AUTRES SÉLECTIONS (TELLES QUE DES RECHERCHES DANS LES REGISTRES DE DÉLINQUANTS SEXUELS) À TOUT MOMENT EN UTILISANT LES DOSSIERS DISPONIBLES AU PUBLIC.</p>
        </div>

        <div class="cell-discovery inset">
            <h1>7. Droits que Jungler vous accorde</h1>
            <p>Jungler vous accorde une licence personnelle, mondiale, libre de redevance, incessible, non-exclusive, révocable et ne pouvant faire l’objet d’une sous-licence afin d’accéder au Service et de l’utiliser. Cette licence a uniquement pour objet de vous permettre d’utiliser et de bénéficier des avantages des Services conçus par Jungler et autorisés par le présent Accord. Par conséquent, vous acceptez de vous abstenir :</p>
            <ul>
                <li>d’utiliser le Service ou tout contenu du Service à toutes fins commerciales sans notre consentement écrit.</li>
                <li>de copier, modifier, transmettre, créer toutes œuvres dérivées, utiliser ou reproduire de quelque façon que ce soit tous supports assujettis à un droit d’auteur, toutes images, marques commerciales, dénominations commerciales, marques de service ou tous autres éléments de propriété intellectuelle, contenus ou informations exclusives accessibles au travers du Service sans le consentement écrit préalable de Jungler.</li>
                <li>d’exprimer ou de sous-entendre que l’une quelconque de vos déclarations est approuvée par Jungler.</li>
                <li>d’utiliser tout(e) robot, agent numérique, araignée, collecteur, racloir, application de recherche/extraction de site, passerelle de procuration ou autre appareil manuel ou automatique, méthode ou processus visant à accéder, extraire, indexer, fouiller les données ou reproduire ou éluder de quelque façon que ce soit la structure de navigation ou la présentation du Service ou de ses contenus.</li>
                <li>d’utiliser le Service de quelque façon que ce soit qui pourrait interférer avec le Service, les serveurs ou les réseaux connectés au Service, les interrompre ou leur nuire.</li>
                <li>de télécharger des virus ou autres codes malveillants ou compromettre autrement la sécurité du Service.</li>
                <li>de falsifier tout en-tête ou manipuler autrement les identifiants afin de masquer l’origine de toute information transmise sur ou à travers le Service</li>
                <li>de copier ou de reproduire toute partie du Service sans l’autorisation préalable écrite de Jungler.</li>
                <li>d’utiliser des métabalises, un code ou d’autres appareils contenant tout référence à Jungler ou au Service (ou toute marque, dénomination commerciale, marque de service, tout logo ou slogan de Jungler) pour diriger toute personne vers un autre site Internet à quelque fin que ce soit.</li>
                <li>de modifier, adapter, octroyer une sous-licence, traduire, vendre, procéder à une ingénierie inverse, décrypter, décompiler ou désassembler autrement toute portion du Service, ou obtenir d’autres qu’ils le fassent.</li>
                <li>d’utiliser ou de développer toutes applications qui interagissent avec le Service ou le Contenu ou les informations d’autres utilisateurs sans notre consentement écrit.</li>
                <li>d’utiliser, accéder à ou publier l’interface de programmation de l’application Jungler sans notre consentement écrit.</li>
                <li>de sonder, scanner ou tester la vulnérabilité de notre Service ou de tout système ou réseau.</li>
                <li>d’encourager ou de promouvoir toute activité qui viole le présent Accord.</li>
            </ul>
            <p class="p-after-li">La Société peut enquêter et s’engager dans toute voie de droit disponible en réponse aux utilisations illégales et/ou non-autorisées du Service, y compris la résiliation de votre compte.</p>
            <p>Tout logiciel que nous vous fournissons peut automatiquement télécharger et installer des améliorations, mises à jour ou autres nouvelles fonctions. Vous pouvez ajuster ces téléchargements automatiques dans les paramètres de votre appareil.</p>
        </div>

        <div class="cell-discovery inset">
            <h1>8. Droits que vous accordez à Jungler</h1>
            <p>En créant un compte, vous accordez à Jungler une licence mondiale, transférable, pouvant donner lieu à des sous-licences et libre de redevance, et le droit d’héberger, de stocker, d’utiliser, de copier, d’afficher, de reproduire, d’adapter, de modifier, de publier et de distribuer toutes les informations auxquelles vous nous autorisez à accéder depuis Facebook, ainsi que les informations que vous publiez, chargez, affichez ou rendez disponibles (ensemble, « publiez ») sur le Service ou que vous transmettez à d’autres utilisateurs (ensemble, « Contenu »). La licence de Jungler sur votre Contenu n’est pas exclusive, à l’exception des œuvres dérivées créées via l’utilisation du Service, pour lesquelles la licence de Jungler sera exclusive. Par exemple, dans le cas de captures d’écran du Service, comportant votre Contenu, la licence de Jungler serait exclusive. De plus, pour que Jungler puisse empêcher l’utilisation de votre Contenu en dehors du Service, vous autorisez Jungler à agir en votre nom dans le cas d’une utilisation non autorisée de votre Contenu, tiré du Service par d’autres utilisateurs ou des tierces parties. Cela comprend expressément le pouvoir, et non l’obligation, d’envoyer des avis conformément au 17 U.S.C. § 512(c)(3) (c’est-à-dire les avis de retrait du DMCA) en votre nom si votre Contenu est tiré du Service et utilisé par des tierces parties en dehors de celui-ci. Notre licence sur votre Contenu est régie par vos droits conformément aux lois en vigueur (par exemple les lois sur la protection des données personnelles dans la mesure où le Contenu contient des informations personnelles telles que définies par ces lois) et n’existe que dans le but limité de développer, fournir, gérer et améliorer le Service, et pour la recherche et le développement d’autres services. Vous acceptez que tout Contenu que vous placez ou que vous nous autorisez à placer sur le Service peut être vu par d’autres utilisateurs et peut être vu par toute personne qui consulte ou qui participe au Service (comme des personnes qui peuvent recevoir du Contenu partagé par d’autres utilisateurs de Jungler).</p>
            <p>Vous convenez que toutes informations que vous soumettez lors de la création de votre compte, y compris des informations soumises à partir de votre compte Facebook, sont exactes et véridiques et que vous avez le droit de publier le Contenu sur le Service et d’accorder à Jungler la licence susmentionnée.</p>
            <p>Vous comprenez et acceptez que nous puissions surveiller ou examiner tout Contenu que vous publiez dans le cadre d’un Service. Nous pouvons supprimer tout Contenu, en tout ou partie, si, selon notre seul jugement, il viole le présent Accord ou est susceptible de nuire à la réputation du Service.</p>
            <p>Lors de toute communication avec nos représentants du service client, vous acceptez d’être respectueux et aimable. Si nous considérons que votre comportement envers l’un de nos représentants du service client ou autres employés est à tout moment menaçant ou injurieux, nous nous réservons le droit de résilier immédiatement votre compte.</p>
            <p>En contrepartie de l’autorisation que Jungler vous accorde d’utiliser le Service, vous convenez que nous, nos affiliés et nos partenaires tiers puissent placer des annonces sur le Service. En soumettant des suggestions ou des commentaires à Jungler à propos de notre Service, vous convenez que Jungler puisse utiliser et partager ce retour à toute fin que ce soit sans vous offrir de compensation.</p>
            <p>Vous convenez que Jungler puisse accéder, préserver et divulguer les informations et Contenu de votre compte si nous sommes tenus de le faire en vertu de la loi ou si nous croyons de bonne foi que lesdits accès, préservation ou divulgation sont raisonnablement nécessaires, afin de : respecter une procédure judiciaire ; faire appliquer le présent Accord ; répondre à toutes réclamations selon lesquelles tout Contenu violerait les droits de tiers ; répondre à vos demandes au service client ; ou protéger les droits, la propriété ou la sûreté personnelle de la Société ou de toute autre personne.</p>
        </div>

        <div class="cell-discovery inset">
            <h1>9. Règles de la communauté</h1>
            <p>En utilisant le Service, vous convenez que vous vous abstiendrez :</p>
            <ul>
                <li>d’utiliser le Service à toute fin illégale ou interdite par le présent Accord.</li>
                <li>d’utiliser le Service à des fins malveillantes ou malfaisantes.</li>
                <li>d’utiliser le Service afin de porter atteinte à Jungler.</li>
                <li>d’enfreindre nos <a href="https://github.com/benitodotcool/Jungler/blob/master/README.md" target="_blank">Standards de la communauté</a>, qui peuvent être mis à jour régulièrement.</li>
                <li>d’envoyer du courrier indésirable, de solliciter de l’argent à tous utilisateurs ou de les escroquer.</li>
                <li>d’imiter toute personne ou entité ou de publier toutes images d’une autre personne sans sa permission.</li>
                <li>de persécuter, traquer, intimider, attaquer, harceler, maltraiter ou diffamer toute personne.</li>
                <li>de publier tout Contenu qui viole ou enfreint les droits de quiconque, y compris les droits de publicité, au respect de la vie privée, d’auteur, de marque commerciale ou autre droit de propriété intellectuelle ou contractuel.</li>
                <li>de publier tout Contenu constituant un discours haineux, menaçant, sexuellement explicite ou pornographique ; incitant à la violence ou contenant de la nudité, de la violence graphique ou gratuite.</li>
                <li>de publier du contenu qui comprend des propos racistes, intolérants, haineux ou qui encourage les violences physiques contre un groupe ou une personne en particulier.</li>
                <li>de solliciter des mots de passe à quelque fin que ce soit, ou des informations permettant une identification personnelle à des fins commerciales ou illégales auprès d’autres utilisateurs ou de diffuser les informations personnelles d’une autre personne sans sa permission.</li>
                <li>d’utiliser le compte d’un autre utilisateur.</li>
                <li>de créer un autre compte si nous avons déjà résilié votre compte, à moins que vous n’ayez notre permission.</li>
            </ul>
            <p class="p-after-li">Jungler se réserve le droit d’enquêter et/ou de résilier votre compte sans rembourser vos achats si vous avez fait enfreint cet Accord, fait une mauvaise utilisation du Service ou que vous vous êtes comporté d’une façon que Jungler considère comme inappropriée ou illégale, y compris en cas d’actions ou de communications survenant en dehors du Service.</p>
        </div>

        <div class="cell-discovery inset">
            <h1>10. Contenu d’autres utilisateurs</h1>
            <p>Bien que Jungler se réserve le droit d’examiner et de supprimer tout Contenu qui viole le présent Accord, ledit Contenu relève de la seule responsabilité de l’utilisateur qui le publie, et Jungler ne peut garantir que l’ensemble du Contenu sera conforme au présent Accord. Si vous voyez un Contenu sur le Service qui viole le présent Accord, veuillez le signaler sur le Service ou à <a href="mailto:team.jungler@gmail.com">team.jungler@gmail.com</a>.</p>
        </div>
    </div>
</div>