<main id="discovery-focus">

    <div class="main-wrapper">

        <div class="main-head">
            <h1 class="title">Conditions Générales</h1>
        </div>

        <div class="main-content-discovery">

        </div>

    </div>

</main>

<aside>
    <%= render "aside" %>
</aside>