<!DOCTYPE html>
<html>
<head>
  <title>(404)</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <style>
  .rails-default-error-page {
    background-color:rgba(26, 28, 31, 1);
    color: rgba(233, 233, 233, 1);
    text-align: center;
    font-family: arial, sans-serif;
    margin: 0;
  }

  .rails-default-error-page div.dialog {
    width: 95%;
    max-width: 33em;
    margin: 4em auto 0;
  }

  .rails-default-error-page div.dialog > div {
    border: 1px solid #204b2e;
    border-right-color: #204b2e;
    border-left-color: #204b2e;
    border-bottom-color: #204b2e;
    border-top: #204b2e solid 2px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    background-color: rgb(36, 43, 63);
    padding: 7px 12% 0;
    box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
  }

  .rails-default-error-page h1 {
    font-size: 100%;
    color: #26613a;
    line-height: 1.5em;
  }

  </style>
</head>

<body class="rails-default-error-page">
  <!-- This file lives in public/404.html -->
  <div class="dialog">
    <div>
      <h1>La page que vous cherchez n'existe pas.</h1>
      <p>Veuillez entrer une adresse valide..</p>
        <img src="img/amumu.png"> 
    </div>
  </div>

</body>
</html>
