<!DOCTYPE html>
<html>
<head>
  <title>(404)</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <style>
  .rails-default-error-page {
    background-color:rgba(26, 28, 31, 1);
    color: rgba(233, 233, 233, 1);
    text-align: center;
    font-family: arial, sans-serif;
    margin: 0;
  }

  .rails-default-error-page div.dialog {
    width: 95%;
    max-width: 33em;
    margin: 4em auto 0;
  }

  .rails-default-error-page div.dialog > div {
    border: 1px solid #204b2e;
    border-right-color: #2d3057;
    border-left-color: #2d3057;
    border-bottom-color: #2d3057;
    border-top: #2d3057 solid 3px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    background-color: ##42414e;
    padding: 7px 12% 0;
    box-shadow: 0px 15px 25px 10px var(--main-color-shadow);
    border-radius:2rem
  }

  .rails-default-error-page h1 {
    font-size: 100%;
    color: var(--light-grey-color);
    line-height: 1.5em;
  }

.rails-default-error-page .errormsg
{
  float:left;
  margin-top:40px
}
  </style>
</head>

<body class="rails-default-error-page">
  <!-- This file lives in public/404.html -->
  <div class="dialog">
    <div>
      <h1>La page que vous cherchez n'existe pas.</h1>
      <p class="errormsg">404</p>
        <img src="img/amumu.png"> 
    </div>
  </div>

</body>
</html>
