<div class="aside-info">

    <ul class="aside-icons">
    
        <li class="container-icons">
            <svg id="icon-notification" class="icon" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>Iconly/Light/Notification</title>
                <g id="Iconly/Light/Notification" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                    <g id="Notification" transform="translate(3.500000, 2.000000)" stroke="var(--medium-grey-color)" stroke-width="1.5">
                        <path d="M8.5,15.8476424 C14.13923,15.8476424 16.7480515,15.1242108 17,12.220506 C17,9.31879687 15.1811526,9.50539234 15.1811526,5.94511102 C15.1811526,3.16414015 12.5452291,-1.86517468e-14 8.5,-1.86517468e-14 C4.4547709,-1.86517468e-14 1.81884743,3.16414015 1.81884743,5.94511102 C1.81884743,9.50539234 0,9.31879687 0,12.220506 C0.252952291,15.135187 2.86177374,15.8476424 8.5,15.8476424 Z" id="Stroke-1"></path>
                        <path d="M10.8887931,18.8572176 C9.52465753,20.3719337 7.3966462,20.3898948 6.0194615,18.8572176" id="Stroke-3"></path>
                    </g>
                </g>
            </svg>
        </li>

        <li class="container-icons">
            <svg id="icon-profile" class="icon" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>Iconly/Light/Profile</title>
                <g id="Iconly/Light/Profile" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                    <g id="Profile" transform="translate(4.814286, 2.814476)" stroke="var(--medium-grey-color)">
                        <path d="M7.17047619,12.531714 C3.30285714,12.531714 -4.08562073e-14,13.1164759 -4.08562073e-14,15.4583807 C-4.08562073e-14,17.8002854 3.28190476,18.4059997 7.17047619,18.4059997 C11.0380952,18.4059997 14.34,17.8202854 14.34,15.479333 C14.34,13.1383807 11.0590476,12.531714 7.17047619,12.531714 Z" id="Stroke-1" stroke-width="1.5"></path>
                        <path d="M7.17047634,9.19142857 C9.70857158,9.19142857 11.7657144,7.13333333 11.7657144,4.5952381 C11.7657144,2.05714286 9.70857158,-5.32907052e-15 7.17047634,-5.32907052e-15 C4.6323811,-5.32907052e-15 2.574259,2.05714286 2.574259,4.5952381 C2.56571443,7.1247619 4.60952396,9.18285714 7.13809539,9.19142857 L7.17047634,9.19142857 Z" id="Stroke-3" stroke-width="1.42857143"></path>
                    </g>
                </g>
            </svg>
        </li>

    </ul>

</div>

<div class="aside-container">

    <div class="aside-content">

        <div class="notification-container"></div>
        <div class="notification-container"></div>
        <div class="notification-container"></div>
        <div class="notification-container"></div>
        <div class="notification-container"></div>
        <div class="notification-container"></div>
        <div class="notification-container"></div>
        <div class="notification-container"></div>
        <div class="notification-container"></div>
        <div class="notification-container"></div>
        <div class="notification-container"></div>
        <div class="notification-container"></div>
    </div>

    <div class="aside-fixed-bottom">

        <div class="user-general">

            <div class="user-wrapper">
                <div class="user-status"></div>
                <h3 class="user-name">Cipe and Senna</h3>

            </div>

        </div>

    </div>
    
</div>