<div class="main-head">
    <h1 class="title">Jungler</h1>
</div>

<div class="main-content">

    <div class="cell cell-1 grid-cell-6-2 welcome">
        <div class="title">
        <h2>Bienvenue dans la Jungle!</h2>
        </div>
        <div class="text">
        <p>LOL est un jeu génial, sûrement le meilleur jeu de son temps. Et pourtant, arrivé dans la faille, on se dit parfois au bout de 5 minutes, que l’on va perdre notre temps : player toxiques, afk à répétition, Noob en série ou Smurfing avéré, les occasions de regretter ne manquent pas ! Si seulement ce jeu de rêve  avait le matchmaker idéal...
        </p>
        </div>
        <div class="button">
        <p>button</p>
        </div>
    </div>

    <div class="cell cell-2 grid-cell-4-2">Mundo.png</div>
    <div class="cell cell-3 grid-cell-2-2">On peut jouer de tout, mais pas avec n'importe qui!</div>
    <div class="cell cell-4 grid-cell-2-2">
    <img src="https://c0.klipartz.com/pngpicture/933/15/gratis-png-league-of-legends-mercancias-peligrosas-juego-de-video-arte-de-escritorio-league-of-legends.png">
    </div>
    <div class="cell cell-5 grid-cell-4-2">Un algorithme unique et des joueurs passionés</div>
    <div class="cell cell-6 grid-cell-6-2">SWIPE</div>
    <div class="cell cell-7 grid-cell-2-2">Nombres d'utilisateurs: 500</div>
    <div class="cell cell-8 grid-cell-2-2">Nombres de matchs: 200</div>
    <div class="cell cell-9 grid-cell-2-2">Nombres de messages: 1000</div>
    <div class="cell cell-10 grid-cell-6-2">Peer-Gaming</div>
    <div class="cell cell-11 grid-cell-6-2">Relax</div>
    <div class="cell cell-12 grid-cell-6-2">Try-Hard</div>
    <div class="cell cell-13 grid-cell-6-1">CTA</div>

    <footer class="cell">

        <div class="list-1 list">
            <h4>Team</h4>
            <ul>
                <li href="#">Benoit</li>
                <li href="#">Cheikh</li>
                <li href="#">Mathis</li>
                <li href="#">Florentin</li>
                <li href="#">Valentin</li>
            </ul>        
        </div>

        <div class="list-2 list">
            <h4>Company</h4>
            <ul>
                <li href="#">About</li>
                <li href="#">Startup</li>
                <li href="#">Security</li>
                <li href="#">Updates</li>
                <li href="#">Privacy</li>
                <li href="#">Join Us</li>
                <li href="#">Support</li>
            </ul>        
        </div>

        <div class="list-3 list">
            <h4>Jungler</h4>
            <ul>
                <li href="#">© Jungler 2021</li>
                <li href="#">All rights reserved</li>
            </ul>        
        </div>

        <div class="league">
            <img href="#" src="img/lol_logo.png" class="logo">
        </div>

        <div class="copyright">
            <div class="newsletter-container">Newsletter</div>
        </div>
    
    </footer>

</div>

<!--
<div class="main-img">
    <img src="img/forest.png">
</div>
//-->