<div class="main-head">
    <h1 class="title">Jungler</h1>
</div>

<div class="main-content">

    <div class="cell cell-1 grid-cell-6-2 welcome"></div>
    <div class="cell cell-2 grid-cell-4-2"></div>
    <div class="cell cell-3 grid-cell-2-2"></div>
    <div class="cell cell-4 grid-cell-2-2"></div>
    <div class="cell cell-5 grid-cell-4-2"></div>
    <div class="cell cell-6 grid-cell-6-2"></div>
    <div class="cell cell-7 grid-cell-2-2"></div>
    <div class="cell cell-8 grid-cell-2-2"></div>
    <div class="cell cell-9 grid-cell-2-2"></div>
    <div class="cell cell-10 grid-cell-6-2"></div>
    <div class="cell cell-11 grid-cell-6-2"></div>
    <div class="cell cell-12 grid-cell-6-2"></div>
    <div class="cell cell-13 grid-cell-6-1"></div> 

    <footer class="cell">

        <div class="list-1 list">
            <h4>Team</h4>
            <ul>
                <li>Benoit</li>
                <li>Cheikh</li>
                <li>Mathis</li>
                <li>Florentin</li>
                <li>Valentin</li>
            </ul>        
        </div>

        <div class="list-2 list">
            <h4>Team</h4>
            <ul>
                <li>Benoit</li>
                <li>Cheikh</li>
                <li>Mathis</li>
                <li>Florentin</li>
                <li>Valentin</li>
            </ul>        
        </div>

        <div class="list-3 list">
            <h4>Team</h4>
            <ul>
                <li>Benoit</li>
                <li>Cheikh</li>
                <li>Mathis</li>
                <li>Florentin</li>
                <li>Valentin</li>
            </ul>        
        </div>

        <div class="logo">
            <ul>
                <li>
                    <svg class="icon" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>Iconly/Bold/Discovery</title>
                        <g id="Iconly/Bold/Discovery" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Discovery" transform="translate(1.999900, 2.000100)" fill="var(--medium-grey-color)" fill-rule="nonzero">
                                <path d="M10,0 C15.52,0 20,4.48 20,10 C20,15.53 15.52,20 10,20 C4.47,20 0,15.53 0,10 C0,4.48 4.47,0 10,0 Z M13.85,6.71 C13.96,6.36 13.64,6.03 13.29,6.14 L13.29,6.14 L8.17,7.74 C7.96,7.81 7.79,7.97 7.73,8.18 L7.73,8.18 L6.13,13.31 C6.02,13.65 6.35,13.98 6.69,13.87 L6.69,13.87 L11.79,12.27 C12,12.21 12.17,12.04 12.23,11.83 L12.23,11.83 Z"></path>
                            </g>
                        </g>
                    </svg>
                </li>
                <li>
                    <svg class="icon" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>Iconly/Bold/Discovery</title>
                        <g id="Iconly/Bold/Discovery" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Discovery" transform="translate(1.999900, 2.000100)" fill="var(--medium-grey-color)" fill-rule="nonzero">
                                <path d="M10,0 C15.52,0 20,4.48 20,10 C20,15.53 15.52,20 10,20 C4.47,20 0,15.53 0,10 C0,4.48 4.47,0 10,0 Z M13.85,6.71 C13.96,6.36 13.64,6.03 13.29,6.14 L13.29,6.14 L8.17,7.74 C7.96,7.81 7.79,7.97 7.73,8.18 L7.73,8.18 L6.13,13.31 C6.02,13.65 6.35,13.98 6.69,13.87 L6.69,13.87 L11.79,12.27 C12,12.21 12.17,12.04 12.23,11.83 L12.23,11.83 Z"></path>
                            </g>
                        </g>
                    </svg>
                </li>
                <li>
                    <svg class="icon" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>Iconly/Bold/Discovery</title>
                        <g id="Iconly/Bold/Discovery" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Discovery" transform="translate(1.999900, 2.000100)" fill="var(--medium-grey-color)" fill-rule="nonzero">
                                <path d="M10,0 C15.52,0 20,4.48 20,10 C20,15.53 15.52,20 10,20 C4.47,20 0,15.53 0,10 C0,4.48 4.47,0 10,0 Z M13.85,6.71 C13.96,6.36 13.64,6.03 13.29,6.14 L13.29,6.14 L8.17,7.74 C7.96,7.81 7.79,7.97 7.73,8.18 L7.73,8.18 L6.13,13.31 C6.02,13.65 6.35,13.98 6.69,13.87 L6.69,13.87 L11.79,12.27 C12,12.21 12.17,12.04 12.23,11.83 L12.23,11.83 Z"></path>
                            </g>
                        </g>
                    </svg>
                </li>
            </ul>
        </div>

        <div class="copyright">
            <p>© Jungler 2021 | All rights reserved</p>
        </div>
    
    </footer>

</div>