<div class="swipe-wrapper">
    <div class="swipe-cards"><h1>A</h1></div>
    <div class="swipe-cards"><h1>B</h1></div>
    <div class="swipe-cards"><h1>C</h1></div>
    <div class="swipe-cards"><h1>D</h1></div>
    <div class="swipe-cards"><h1>E</h1></div>
</div>

<button class="btn" id="yes" data-remote = "true">OUI</button>
<button class="btn" id='no' data-remote = "true">NON</button>