<main id="users-focus">

    <div class="main-wrapper">

        <div class="main-head">
            <h1 class="title">Swipe</h1>
        </div>

        <div class="main-content-swipe">

            <div class="swipe-card-container">
            
                <%= render "swipe_user_card" %>
                
            </div>

        </div>

    </div>

</main>

<aside>
    <%= render "aside" %>
</aside>