<div class="container">

    <nav>
        <%= render "nav" %>
    </nav>

    <main>
        <%= render "main_landing_page" %>
    </main>

    <aside>
        <%= render "aside" %>
    </aside>

</div>
