<div class="container">

    <nav>
        <%= render "nav" %>
    </nav>

    <main id="main-id">
        <%= render "main_landing_page" %>
    </main>

    <aside>
        <%= render "aside" %>
    </aside>

</div>