<div class="container " id="container_index">

    <nav>
        <%=  render "nav" %>
    </nav>

    <main id="container_main">
        <%=  render "main_landing_page" %>
    </main>

    <aside>
        <%=  render "aside" %>
    </aside>

</div>
