<div class="showmsg">
<div class="div1">1</div>
<div class="div2">Discussion avec</div>
<div class="div3"> g</div>
<div class="div4"> g</div>
<div class="div5">g </div>
<div class="div6">g </div>
<div class="div7">g </div>
<div class="div8">g </div>
<div class="div9">g </div>
</div>