









<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_conversation_path(@conversation) %> |
<%= link_to 'Back', conversations_path %>

<div class="cell cell-14 grid-cell-6-1">
<div class="flofloflo">
    <div class="first_div">gfdhfgd</div>
    <div class="second_div"> hgfgf</div>
    <div class="three_div">hfghgfhfg </div>
    <div class="four_div">hgfhgfhfg </div>
    <div class="five_div">hgfhgfhgf </div>
    <div class="six_div">hgfhgf </div>
    <div class="seven_div">hgfhgf </div>
    <div class="eight_div">hfghgfhgf</div>
</div>
</div>

