<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_conversation_path(@conversation) %> |
<%= link_to 'Back', conversations_path %>

<div class="container">
<div class="flofloflo">
    <div class="first_div"></div>
    <div class="second_div"> </div>
    <div class="three_div"> </div>
    <div class="four_div">hgfhgfhgf </div>
    <div class="five_div">hgfhgfhfg </div>
    <div class="six_div"> hfghgfhfghgf</div>
    <div class="seven_div"> </div>
    <div class="eight_div"></div>
</div>
</div>