<div class="flofloflo">
    <div class="first_div">gfdhfgd</div>
    <div class="div2"> hgfgf</div>
    <div class="div3">hfghgfhfg </div>
    <div class="div4">hgfhgfhfg </div>
    <div class="div5">hgfhgfhgf </div>
    <div class="div6">hgfhgf </div>
    <div class="div7">hgfhgf </div>
    <div class="div8">hfghgfhgf</div>
</div>












<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_conversation_path(@conversation) %> |
<%= link_to 'Back', conversations_path %>
