<!DOCTYPE html>
<html>
<head>

    <title>422</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

</head>

<body>

    <!-- This file lives in public/404.html -->

    <div class="main-wrapper">

        <div class="main-head-errors">
            <h1 class="title">Erreur 422</h1>
        </div>

        <div class="main-content-errors inset" data-tilt>
            <div class="content">
                <h1>422</h1>
                <p>Entité non traitable.</p>
            </div>
        </div>

    </div>

</body>

</html>
 