<div class="main-wrapper" id="landing_page-focus">
    <div class="main-head">
        <h1 class="title">Jungler</h1>
    </div>
    <div class="main-content-landing_page">
        <div class="cell cell-1 grid-cell-6-2 welcome inset" data-tilt>
            <div class="left">
            
                <div class="title">
                    <h1>Bienvenue dans la Jungle!</h1>
                </div>
                <div class="cta-container">
                    Gratuit
                    <a href="#">
                        <p class="cta-btn">Découvrir</p>
                    </a>                    
                </div>
            
            </div>
            <div class="right">                
                <img src="lol_champions/akali.png">                
            </div>
        </div>

        <div class="cell-3">
            <h1>On peut jouer de tout, mais pas avec n'importe qui.</h1>
            <p>Qui ne s'est jamais plaint du système de matchmaking de League of Legends ?<br>Avec Jungler, rencontre des joueurs qui partagent les mêmes objectifs de jeu que toi.</p>
        </div>

        <div class="cell-5">
            <h1>Un algorithme unique et des joueurs passionnés.</h1>
            <p>Jungler te propose une mise en relation avec les joueurs qui te correspondent. Match, organise et planifie ta session de jeu pour qu'elle redevienne une partie de plaisir.</p>
        </div>

        <div class="cell cell-6 grid-cell-6-2 inset" data-tilt>
            <h2><-- Swipe --></h2>
        </div>

        <div class="cell-7">                
            <h1 class="title">Statistiques</h1>
            <div class="container-stats">
                <div class="cell inset stats" data-tilt>
                    <div class="object">Utilisateurs</div>
                    <h1 class="number"><%= @all_users %></h1>
                </div>
                <div class="cell inset stats" data-tilt>
                    <div class="object">Matchs</div>
                    <h1 class="number"><%= @all_matchs %></h1>
                </div>
                <div class="cell inset stats" data-tilt>
                    <div class="object">Messages</div>
                    <h1 class="number"><%= @all_messages %></h1>
                </div>
            </div>           
        
        </div>
        <div class="cell cell-10 grid-cell-6-2 inset" data-tilt>
            <div class="left">
            
                <div class="title">
                    <h1>Peer-Gaming</h1>
                </div>
                <div class="description">
                    <p>Coopérer d’égal à égal dans cet univers que l’on adore.</p>
                    <div class="btn-discover">
                        <a href="#">Découvrir</a>   
                    </div>
                           
                </div>
            
            </div>
            <div class="right">                
                <img src="lol_champions/thresh.png">                
            </div>
        </div>
        <div class="cell cell-11 grid-cell-6-2 inset" data-tilt>
            <div class="left">
            
                <div class="title">
                    <h1>Relax</h1>
                </div>
                <div class="description">
                    <p>Fais de toi de nouveaux amis po</p>
                    <div class="btn-discover">
                        <a href="#">Découvrir</a>   
                    </div>
                           
                </div>
            
            </div>
            <div class="right">                
                <img src="lol_champions/jinx.png">                
            </div>
        </div>
        <div class="cell cell-12 grid-cell-6-2 inset" data-tilt>
            <div class="left">
            
                <div class="title">
                    <h1>Tryhard</h1>
                </div>
                <div class="description">
                    <p>Rencontre les joueurs les plus motivés afin de repousser tes limites.</p>
                    <div class="btn-discover">
                        <a href="#">Découvrir</a>   
                    </div>
                           
                </div>
            
            </div>
            <div class="right">                
                <img src="lol_champions/leona.png">                
            </div>
        </div>


        <div class="cell-13 grid-cell-6-1">
            <div class="cta-container">
                <a href="#">
                    <p class="cta-btn">Découvrir</p>
                </a>                    
            </div>        
        </div>


        <footer class="cell inset">
            <div class="list-1 list">
                <h2>Team</h2>
                <ul>
                    <li><a href="https://github.com/BFH92" target="_blank">Benoit</a></li>
                    <li><a href="https://github.com/shanksthered" target="_blank">Cheikh</a></li>
                    <li><a href="https://github.com/MC4517" target="_blank">Mathis</a></li>
                    <li><a href="https://github.com/Florentin437" target="_blank">Florentin</a></li>
                    <li><a href="https://github.com/benitodotcool" target="_blank">Valentin</a></li>
                </ul>        
            </div>
            <div class="list-3 list">
                <h2>Jungler</h2>
                <ul>
                    <li>© Jungler 2021</li>
                    <li>All rights reserved</li>
                </ul>        
            </div>
            <div class="league">
                <img href="#" src="img/lol_logo.png" class="logo">
            </div>
            <div class="copyright">
                <div class="newsletter-container">Newsletter</div>
            </div>
    
        </footer>
    </div>
    
</div>