<div class="main-wrapper" id="landing_page-focus">
    <div class="main-head">
        <h1 class="title">Jungler</h1>
    </div>
    <div class="main-content-landing_page">
        <div class="cell cell-1 grid-cell-6-2 welcome inset" data-tilt>
            <div class="left">
            
                <div class="title">
                    <h1>Bienvenue dans la Jungle!</h1>
                </div>
                <div class="cta-container">
                    Gratuit
                    <div class="cta-btn">
                        <a href="">
                            Découvrir
                        </a>
                    </div>
                </div>
            
            </div>
            <div class="right">                
                <img src="lol_champions/akali.png">                
            </div>
        </div>
        <div class="cell cell-2 grid-cell-4-2"></div>
        <div class="cell-text cell-3 grid-cell-2-2 inset">
            <h2>On peut jouer de tout, mais pas avec n'importe qui.</h2>
            <p>LOL est un jeu génial, sûrement le meilleur jeu de son temps. Si seulement ce jeu de rêve  avait le matchmaker idéal...</p>        
        
        </div>
        <div class="cell cell-4 grid-cell-2-2"></div>
        <div class="cell-text cell-5 grid-cell-4-2 inset">
            <h2>Un algorithme unique et des joueurs passionnés.</h2>
            <p>Jungler te propose une mise en relation avec les joueurs qui te correspondent.</p>
            <p> Jungler permet de matcher, de t’organiser, de planifier des sessions pour que chaque partie redevienne une partie de plaisir.</p>
        </div>
        <div class="cell cell-6 grid-cell-6-2 inset">
            <h2><-- Swipe --></h2>
        </div>
        <div class="cell-7">                
            <h1 class="title">Statistiques</h1>
            <div class="container-stats">
                <div class="cell inset stats">
                    <div class="object">Utilisateurs</div>
                    <h1 class="number"><%= @all_users %></h1>
                </div>
                <div class="cell inset stats">
                    <div class="object">Matchs</div>
                    <h1 class="number"><%= @all_matchs %></h1>
                </div>
                <div class="cell inset stats">
                    <div class="object">Messages</div>
                    <h1 class="number"><%= @all_messages %></h1>
                </div>
            </div>           
        
        </div>
        <div class="cell cell-10 grid-cell-6-2 inset" data-tilt>
            <div class="left">
            
                <div class="title">
                    <h1>Peer-Gaming</h1>
                </div>
                <div class="description">
                    <p>Coopérer d’égal à égal dans cet univers que l’on adore.</p>
                    <div class="btn-discover">
                        <a href="#">Découvrir</a>   
                    </div>
                           
                </div>
            
            </div>
            <div class="right">                
                <img src="lol_champions/thresh.png">                
            </div>
        </div>
        <div class="cell cell-11 grid-cell-6-2 inset" data-tilt>
            <div class="left">
            
                <div class="title">
                    <h1>Relax</h1>
                </div>
                <div class="description">
                    <p>Jouer au KLM avec des copains.</p>
                    <div class="btn-discover">
                        <a href="#">Découvrir</a>   
                    </div>
                           
                </div>
            
            </div>
            <div class="right">                
                <img src="lol_champions/jinx.png">                
            </div>
        </div>
        <div class="cell cell-12 grid-cell-6-2 inset" data-tilt>
            <div class="left">
            
                <div class="title">
                    <h1>Tryhard</h1>
                </div>
                <div class="description">
                    <p>Rencontrer les joueurs motivés pour repousser nos propres limites.</p>
                    <div class="btn-discover">
                        <a href="#">Découvrir</a>   
                    </div>
                           
                </div>
            
            </div>
            <div class="right">                
                <img src="lol_champions/leona.png">                
            </div>
        </div>
        <h1 class="cell-13 grid-cell-6-1">Rejoins jungler</h1>
        <footer class="cell inset">
            <div class="list-1 list">
                <h4>Team</h4>
                <ul>
                    <li><a href="https://github.com/benitodotcool" target="_blank">Benoit</a></li>
                    <li><a href="https://github.com/benitodotcool" target="_blank">Cheikh</a></li>
                    <li><a href="https://github.com/benitodotcool" target="_blank">Mathis</a></li>
                    <li><a href="https://github.com/benitodotcool" target="_blank">Florentin</a></li>
                    <li><a href="https://github.com/benitodotcool" target="_blank">Valentin</a></li>
                </ul>        
            </div>
            <div class="list-2 list">
                <h4>Company</h4>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Startup</a></li>
                    <li><a href="#">Security</a></li>
                    <li><a href="#">Updates</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Join Us</a></li>
                    <li><a href="#">Support</a></li>
                </ul>        
            </div>
            <div class="list-3 list">
                <h4>Jungler</h4>
                <ul>
                    <li>© Jungler 2021</li>
                    <li>All rights reserved</li>
                </ul>        
            </div>
            <div class="league">
                <img href="#" src="img/lol_logo.png" class="logo">
            </div>
            <div class="copyright">
                <div class="newsletter-container">Newsletter</div>
            </div>
    
        </footer>
    </div>
    
</div>