<main id="landing_page-focus">

    <div class="main-wrapper">

        <div class="main-head">
            <h1 class="title">Jungler</h1>
        </div>

        <div class="main-content-landing_page">

            <div class="cell cell-1 grid-cell-6-2 welcome inset">
                <div class="title">
                    <h2>Bienvenue dans la Jungle!</h2>
                </div>
                <div class="text">
                    <p>LOL est un jeu génial, sûrement le meilleur jeu de son temps. Et pourtant, arrivé dans la faille, on se dit parfois au bout de 5 minutes, que l’on va perdre notre temps : player toxiques, afk à répétition, Noob en série ou Smurfing avéré, les occasions de regretter ne manquent pas ! Si seulement ce jeu de rêve  avait le matchmaker idéal...
                </p>
                </div>
                <div class="button">
                    <p>button</p>
                </div>
            </div>

            <div class="cell cell-2 grid-cell-4-2 inset">Mundo.png</div>

            <div class="cell cell-3 grid-cell-2-2 inset">On peut jouer de tout, mais pas avec n'importe qui!</div>

            <div class="cell cell-4 grid-cell-2-2 inset">heimerdinger.png</div>

            <div class="cell cell-5 grid-cell-4-2 inset">
                <div class="title">
                    <h2>Un algorithme unique et des joueurs passionés</h2>
                </div>
                <div class="text">
                    <p> Jungler permet de matcher, de t’organiser, de planifier des sessions pour que chaque partie redevienne une partie de plaisir.</p>
                </div>
            </div>

            <div class="cell cell-6 grid-cell-6-2 inset">
                <div class="content">
                    <h2>Discuss!</h2>
                </div>
                <div class="swipeleft">
                    <p><--Swipe</p>
                </div>
                <div class="swiperight">
                    <p>-->Swipe</p>
                </div>
            </div>
            <div class="cell cell-7 grid-cell-2-2 inset">Nombres d'utilisateurs: 500</div>
            <div class="cell cell-8 grid-cell-2-2 inset">Nombres de matchs: 200</div>
            <div class="cell cell-9 grid-cell-2-2 inset">Nombres de messages: 1000</div>
            <div class="cell cell-10 grid-cell-6-2 inset">
                <div class="title">
                    <h2>RELAX</h2>
                </div>
                <div class="ziggs">
                    <p>Ziggs.png</p>
                </div>
                <div class="text">
                    <p>Jouer au KLM avec des copains </p>
                </div>
                <div class="Button">
                    <p>GO.btn</p> 
                </div>
            </div>
            <div class="cell cell-11 grid-cell-6-2 inset">
                <div class="title">
                    <h2>PEER-LEARNING</h2>
                </div>
                <div class="text">
                    <p>Coopérer d’égal à égal dans cet univers que l’on adore</p>
                </div>
                <div class="button">
                    <p>GO.btn</p>
                </div>
                <div class="Nami">
                    <p>Nami.png</p> 
                </div>
            </div>
            <div class="cell cell-12 grid-cell-6-2 inset">
                <div class="title">
                    <h2>TRY HARD</h2>
                </div>
                <div class="text">
                    <p>Rencontrer les joueurs motivés pour repousser nos propres limites.</p>
                </div>
                <div class="button">
                    <p>GO.btn</p>
                </div>
                <div class="darius">
                    <p>Darius.png</p> 
                </div>
            </div>
            <div class="cell cell-13 grid-cell-6-1 inset">REJOINS JUNGLER</div>

            <footer class="cell inset">

                <div class="list-1 list">
                    <h4>Team</h4>
                    <ul>
                        <li href="#">Benoit</li>
                        <li href="#">Cheikh</li>
                        <li href="#">Mathis</li>
                        <li href="#">Florentin</li>
                        <li href="#">Valentin</li>
                    </ul>        
                </div>

                <div class="list-2 list">
                    <h4>Company</h4>
                    <ul>
                        <li href="#">About</li>
                        <li href="#">Startup</li>
                        <li href="#">Security</li>
                        <li href="#">Updates</li>
                        <li href="#">Privacy</li>
                        <li href="#">Join Us</li>
                        <li href="#">Support</li>
                    </ul>        
                </div>

                <div class="list-3 list">
                    <h4>Jungler</h4>
                    <ul>
                        <li href="#">© Jungler 2021</li>
                        <li href="#">All rights reserved</li>
                    </ul>        
                </div>

                <div class="league">
                    <img href="#" src="img/lol_logo.png" class="logo">
                </div>

                <div class="copyright">
                    <div class="newsletter-container">Newsletter</div>
                </div>
        
            </footer>

        </div>
        
    </div>

</main>

<aside>
    <%= render "aside" %>
</aside>