.main-wrapper {
  position: absolute;
  overflow: scroll;
  height: 100%;
  width: 100%;
  padding-right: var(--medium-padding);
  padding-left: var(--medium-padding);
  display: grid;
  grid-template-rows: 100px 1fr;

  .main-head {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    place-items: center;

    .title {
      justify-self: start;
      grid-auto-flow: column;

			&::before {
				vertical-align: 40%;
				content: "new";
				font-size: 12px;
				text-transform: uppercase;
				background-color: var(--danger-color);
				padding: 2px 5px 2px 5px;
				margin-right: 10px;
				border-radius: 5px;
			}

    }

  }

  .main-content {
    grid-area: 2 / 1 / 3 / 2;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(18, 12vw);
		grid-gap: var(--small-padding);
		padding-bottom: var(--small-padding);

    .cell {
      background-color: var(--secondary-dark-color);
      border-radius: var(--small-border-radius);
			border-top: 1px solid var(--dark-grey-color);
			border-left: 1px solid var(--dark-grey-color);
			grid-column-gap: var(--small-padding);
			grid-row-gap: var(--small-padding);
			padding: var(--small-padding);

			&:not(:last-child) {
				display: grid;
				place-items: center;
			}

    }

		.cell-1 {
      grid-area: 1 / 1 / 3 / 7;
	  display: grid;
	  grid-template-columns: 1fr;
	  grid-template-rows: 1fr 2fr 1fr;
	  grid-column-gap: 0px;
	  grid-row-gap: 0px; 
	  		.title { 
				grid-area: 1 / 1 / 2 / 2; 
			}
			.text { 
				grid-area: 2 / 1 / 3 / 2; 
			}
			.button { grid-area: 3 / 1 / 4 / 2; }

    }

		.cell-2 {
      grid-area: 3 / 5 / 5 / 7;
    }

		.cell-3 {
      grid-area: 3 / 1 / 5 / 5;
    }

		.cell-4 {
      grid-area: 5 / 1 / 7 / 3;
    }

		.cell-5 {
      grid-area: 5 / 3 / 7 / 7;
	  display: grid;
	  grid-template-columns: 1fr;
	  grid-template-rows: repeat(2, 1fr);
	  grid-column-gap: 0px;
	  grid-row-gap: 0px;
	  	
	 	.title { 
			 grid-area: 1 / 1 / 2 / 2; 
			}
	  	.text { 
			  grid-area: 2 / 1 / 3 / 2; 
			} 
    }

		.cell-6 {
      grid-area: 7 / 1 / 9 / 7;
	  display: grid;
	  grid-template-columns: repeat(3, 1fr);
	  grid-template-rows: 1fr;
	  grid-column-gap: 0px;
	  grid-row-gap: 0px;
	  
	  	.swipeleft { grid-area: 1 / 1 / 2 / 2; }
	  	.content { grid-area: 1 / 2 / 2 / 3; }
	  	.swiperight { grid-area: 1 / 3 / 2 / 4; } 

}

		.cell-7 {
      grid-area: 9 / 1 / 10 / 3;
    }

		.cell-8 {
      grid-area: 9 / 3 / 10 / 5;
    }

		.cell-9 {
      grid-area: 9 / 5 / 10 / 7;
    }

		.cell-10 {
      grid-area: 10 / 1 / 12 / 7;
	  display: grid;
	  grid-template-columns: repeat(2, 1fr);
	  grid-template-rows: repeat(2, 1fr) 3fr;
	  grid-column-gap: 0px;
	  grid-row-gap: 0px;
	  border-style: solid;
	  border-color: var(--blue-color);

		.title { grid-area: 1 / 2 / 2 / 3; }
		.ziggs { grid-area: 1 / 1 / 4 / 2; }
		.text { grid-area: 2 / 2 / 3 / 3; }
		.button { grid-area: 3 / 2 / 4 / 3; }   

    }

		.cell-11 {
      grid-area: 12 / 1 / 14 / 7;
	  display: grid;
	  grid-template-columns: repeat(2, 1fr);
	  grid-template-rows: repeat(2, 1fr) 3fr;
	  grid-column-gap: 0px;
	  grid-row-gap: 0px;
	  border-style: solid;
	  border-color: var(--green-color);

		.title { grid-area: 1 / 1 / 2 / 2; }
		.text { grid-area: 2 / 1 / 3 / 2; }
		.button { grid-area: 3 / 1 / 4 / 2; }
		.nami { grid-area: 1 / 2 / 4 / 3; } 
	  
    }

		.cell-12 {
	  grid-area: 14 / 1 / 16 / 7;
	  display: grid;
	  grid-template-columns: repeat(2, 1fr);
	  grid-template-rows: repeat(2, 1fr) 3fr;
	  grid-column-gap: 0px;
	  grid-row-gap: 0px;
	  border-style: solid;
	  border-color: var(--orange-color);

		.title { grid-area: 1 / 2 / 2 / 3; }
		.ziggs { grid-area: 1 / 1 / 4 / 2; }
		.text { grid-area: 2 / 2 / 3 / 3; }
		.button { grid-area: 3 / 2 / 4 / 3; }
    }

		.cell-13 {
      grid-area: 16 / 1 / 17 / 7;
    }

	  	.cell-14 {
	  grid-area: 17 / 3 / 17 / 7;
	  display: grid;
	  grid-template-columns: 1fr;
	  grid-template-rows: 1fr;
	  grid-column-gap: 0px;
	  grid-row-gap: 1px;
	  height: 30%;
	  width: 35%;
	  background-color: var(--orange-color);
	  text-align: center;
	  border-radius: 1rem;
	  padding: 10px;
}

		footer {
			grid-area: 18 / 1 / 20 / 7;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(2, auto);

			.list-1 {
				grid-area: 1 / 1 / 2 / 2;
			}

			.list-2 {
				grid-area: 1 / 2 / 2 / 3;
			}

			.list-3 {
				grid-area: 1 / 3 / 2 / 4;
				text-align: right;
			}

			.list {

				h4 {
					padding-bottom: var(--small-padding);
				}

				li {
					font-size: var(--small-font-size);
					color: var(--medium-grey-color);
					transition: all 0.4s ease-out;

					&:hover {
						cursor: pointer;
						color: var(--light-grey-color);
					}

				}

			}

			.league {
				grid-area: 2 / 1 / 3 / 2;
				height: calc(var(--medium-padding) - 1vw);
				display: grid;
				place-items: start;
    			align-self: end;

				& * {
					height: calc(var(--medium-padding) - 1vw);
				}

			}

			.copyright {
				grid-area: 2 / 2 / 3 / 4;
				display: grid;
				place-items: end;
				align-self: end;
				font-size: var(--small-font-size);
				height: var(--medium-padding);
				background-color: var(--dark-grey-color);
				border-radius: var(--tiny-border-radius);

				.newsletter-container {
					display: grid;
					place-items: center;
					width: 100%;
					height: 100%;
				}

			}

		}

  }

	// .main-img {
	// 	position: relative;
	
	// 	img {
	// 		position: absolute;
	// 		bottom: -80vw;
	// 		width: 80vw;
	// 	}
	
	// }	


}	