.main-wrapper {
  position: absolute;
  overflow: scroll;
  height: 100%;
  width: 100%;
  padding-right: var(--medium-padding);
  padding-left: var(--medium-padding);
  display: grid;
  grid-template-rows: 100px 1fr;

    .main-content-landing_page {
        position: relative;
        grid-area: 2 / 1 / 3 / 2;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
        grid-gap: var(--small-padding);
        padding-bottom: var(--small-padding);

        .cell {
            background-color: var(--secondary-dark-color);
            border-radius: var(--small-border-radius);
            grid-column-gap: var(--small-padding);
            grid-row-gap: var(--small-padding);
            padding: var(--small-padding);

            &:not(:last-child) {
                display: grid;
                place-items: center;
            }

        }

        .cell-text {

            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding-bottom: var(--small-padding);

            h2 {
                font-size: var(--medium-font-size);
                font-weight: 600;
                max-width: 80%;
                padding-bottom: calc(var(--small-padding) / 2);
            }

            p {
                font-size: var(--small-font-size);
                color: var(--medium-grey-color);
                padding-top: calc(var(--small-padding) / 2);
            }  

        }



        .cell-1 {
            grid-area: 1 / 1 / 3 / 7;
            display: grid;
            height: 40vh;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: var(--small-padding);

            .left {
                height: 100%;
                width: 100%;
                grid-area: 1 / 1 / 2 / 4;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;                

                .title {
                    height: auto;
                    padding-bottom: var(--small-padding);

                    & * {
                        font-size: var(--big-font-size);
                        line-height: 1;
                    }

                    &::before {
                        vertical-align: 100%;
                        content: "bêta 1.0";
                        font-size: 12px;
                        text-transform: uppercase;
                        background-color: var(--info-color);
                        padding: 2px 5px 2px 5px;
                        margin-right: 10px;
                        border-radius: 5px;
                        font-weight: 800;
                    }

                }

                .cta-container {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 8px 8px 8px var(--small-padding);
                    height: 75px;
                    width: 75%;
                    background-color: var(--dark-grey-color);
                    border-radius: var(--small-border-radius);

                    .cta-btn {
                        width: auto;
                        height: 100%;
                        background-color: var(--blue-color);
                        border-radius: var(--small-border-radius);
                        padding-right: var(--small-padding);
                        padding-left: var(--small-padding);
                        display: grid;
                        place-items: center;
                        box-shadow: 0px 15px 25px 10px var(--blue-color-shadow);
                        border-radius: 18px;

                        & * {
                            color: var(--light-grey-color);
                            text-decoration: none;
                            font-weight: 600;
                        }

                    }

                }

            }

            .right {
                position: relative;
                display: grid;
                place-items: center;
                height: 100%;
                width: 100%;
                grid-area: 1 / 4 / 2 / 6;

                & * {
                    position: absolute;
                    height: 130%;
                    width: auto;
                    transform: translateY(-15%);
                }

            }
        }

        .cell-2 {
            grid-area: 3 / 5 / 5 / 7;
            height: 30vh;
            background-image: url("/lol_champions/sion.jpeg");
            background-size: cover;
            background-position: 75%;
            background-repeat: no-repeat;
        }

        .cell-3 {
            grid-area: 3 / 1 / 5 / 5;    
        }

        .cell-4 {
            grid-area: 5 / 1 / 7 / 3;
            height: 30vh;
            background-image: url("/lol_champions/heimerdinger.jpeg");
            background-size: cover;
            background-position: 75%;
            background-repeat: no-repeat;
        }

        .cell-5 {
            grid-area: 5 / 3 / 7 / 7;
        }

        .cell-6 {
            grid-area: 7 / 1 / 9 / 7;
        }

        .cell-7 {
            grid-area: 9 / 1 / 10 / 3;
        }

        .cell-8 {
            grid-area: 9 / 3 / 10 / 5;
        }

        .cell-9 {
            grid-area: 9 / 5 / 10 / 7;
        }

        .cell-10 {
            grid-area: 10 / 1 / 12 / 7;
        }

        .cell-11 {
            grid-area: 12 / 1 / 14 / 7;
        }

        .cell-12 {
            grid-area: 14 / 1 / 16 / 7;
        }

        .cell-13 {
            grid-area: 16 / 1 / 17 / 7;
        }

        footer {
            grid-area: 17 / 1 / 19 / 7;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, auto);

            .list-1 {
                grid-area: 1 / 1 / 2 / 2;
            }

            .list-2 {
                grid-area: 1 / 2 / 2 / 3;
            }

            .list-3 {
                grid-area: 1 / 3 / 2 / 4;
                text-align: right;
            }

            .list {
                padding-bottom: var(--medium-padding);

                h4 {
                    padding-bottom: calc(var(--small-padding) / 2);
                }

                li {
                    font-size: var(--small-font-size);
                    color: var(--medium-grey-color);

                    & * {
                        cursor: pointer;
                        color: var(--medium-grey-color);
                        text-decoration: none;
                        transition: all 0.3s ease-out;

                        &:hover {
                            color: var(--light-grey-color);
                        }

                    }

                }

            }

            .league {
                grid-area: 2 / 1 / 3 / 2;
                height: calc(var(--medium-padding) - 1vw);

                align-self: end;

                & * {
                    height: calc(var(--medium-padding) - 1vw);
                }

            }

            .copyright {
                grid-area: 2 / 2 / 3 / 4;
                display: grid;
                place-items: end;
                align-self: end;
                font-size: var(--small-font-size);
                height: var(--medium-padding);
                background-color: var(--dark-grey-color);
                border-radius: var(--tiny-border-radius);

                .newsletter-container {
                    display: grid;
                    place-items: center;
                    width: 100%;
                    height: 100%;
                }

            }

        }

    }

    .img-end {
        width: 100%;
        min-height: 60vh;
        background-image: url("/lol_champions/pyke.png");
        background-repeat: no-repeat;  
        background-position: 50% 50%;
        background-size: contain;

    }

}

