nav {
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr 100px;
  border-right: 1px solid var(--dark-grey-color);

  .navbar-info {
    display: grid;
    place-items: center;

    .navbar-icons {
      display: grid;
      place-items: center;
      grid-row-gap: 40px;
    }

    .container-icons {
      display: grid;
      place-items: center;
      height: 50px;
      width: 50px;
      background-color: none;
      border-radius: var(--small-border-radius);
      transition: 0.5s ease-out;

      &:hover {
        background-color: var(--blue-color);
        box-shadow: 0px 25px 35px 0px var(--blue-color-shadow);
        border-radius: var(--medium-border-radius);
      }

      &:hover svg#icon-home g,
      &:hover svg#icon-arrow g,
      &:hover svg#icon-message g,
      &:hover svg#icon-category g,
      &:hover svg#icon-discovery g,
      &:hover svg#icon-notification g,
      &:hover svg#icon-profile g {
        stroke: var(--light-grey-color);
      }

    }

  }

}
