nav {
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr 100px;
  border-right: 1px solid var(--dark-grey-color);

  .navbar-info {
    display: grid;
    place-items: center;

    .navbar-icons {
      display: grid;
      place-items: center;
      grid-row-gap: 20px;
    }

  }

}
