:root {
  --main-bg-dark-color: rgba(26, 28, 31, 1);
  --secondary-dark-color: rgba(33, 35, 41, 0.70);
  --main-color: rgba(9, 188, 138, 1);
  --main-color-shadow: rgba(9, 188, 138, 0.15);

  --blue-color: rgba(38, 114, 235, 1);
  --blue-color-shadow: rgba(92, 128, 188, 0.25);

  --orange-color: rgba(255, 111, 0, 1);
  --orange-color-shadow: rgba(255, 111, 0, 0.15);

  --green-color: rgba(9, 188, 138, 1);
  --green-color-shadow: rgba(9, 188, 138, 0.15);

  --light-grey-color: rgba(233, 233, 233, 1);
  --medium-grey-color: rgb(92, 92, 92);
  --dark-grey-color: rgb(51, 54, 63);

  --danger-color: rgba(236, 68, 65, 1);
  --danger-color-shadow: rgba(236, 68, 65, 0.15);
  --info-color: rgba(151, 65, 236, 1);
  --info-color-shadow: rgba(151, 65, 236, 0.15);
  --warning-color: rgba(236, 190, 65, 1);
  --warning-color-shadow: rgba(236, 190, 65, 0.15);

  --small-padding: 2vw;
  --medium-padding: 4vw;

  --tiny-border-radius: 1.5vw;
  --small-border-radius: 18px;
  --medium-border-radius: 2vw;

  --tiny-font-size: clamp(12px, 0.8vw, 14px);
  --small-font-size: clamp(14px, 1vw, 16px);
  --medium-font-size: clamp(24px, 1.5vw, 40px);
  --big-font-size: clamp(30px, 2.5vw, 80px);

}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
  
body {
  background-color: var(--main-bg-dark-color);
  font-family: 'Inter', sans-serif;
  color: var(--light-grey-color);
  overscroll-behavior-y: none;
  position: fixed;
  overflow: hidden;
}


/* HIDE SCROLLBAR */
.conversation-right::-webkit-scrollbar,
.conversation-left::-webkit-scrollbar,
.conversation-content::-webkit-scrollbar,
.main-wrapper::-webkit-scrollbar,
.aside-content::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
}

.conversation-left,
.conversation-right,
.conversation-content,
.main-wrapper,
.aside-content {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* HIDE SCROLLBAR */