// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-content-swipe {    
  display: grid;
  place-items: center;

  .swipe-card-container {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    grid-template-rows: 1fr repeat(2, 75px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    .swipe-cards {
      position: relative;
      display: grid;
      place-items: center;
      padding: var(--small-padding);
      grid-template-rows: 75px auto 1fr auto;
      grid-row-gap: var(--small-padding);
      width: 300px;
      height: 100%;
      background-color: var(--secondary-dark-color);
      border-radius: var(--medium-border-radius);
      box-shadow: -15px 10px 50px 10px var(--blue-color-shadow);
      border: 2px solid var(--blue-color);

      .level {
        position: absolute;
        top: 0;
        right: 0;
        display: grid;
        place-items: center;
        height: 50px;
        width: 50px;
        border-radius: 18px;
        background-color: var(--blue-color);
        transform: translate(50%, -50%);
      }

      .summoner-name {
        width: 100%;
        height: 100%;
        border-bottom: 1px solid var(--dark-grey-color);

        & * {
          overflow-wrap: break-word;
          text-align: left;
        }
      }

      .description {
        font-size: var(--small-font-size);
        border-bottom: 1px solid var(--dark-grey-color);
        padding-bottom: var(--small-padding);
        color: var(--medium-grey-color);
      }

      .roles {
        display: grid;
        align-self: start;
        grid-template-columns: 1fr 1px 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 5px;
        width: 100%;

        .role {
          display: grid;
          place-items: center;

          .role-name {
            font-size: var(--tiny-font-size);
            color: var(--medium-grey-color);
            font-weight: 500;
            padding-bottom: calc(var(--small-padding) / 2);
          }
  
          .role-icon {
            & * {
              width: 30px;
              height: auto;
            }
          }

        }

        .separator {
          background-color: var(--dark-grey-color);
        }

      }
  
      .best-champs {
        width: 100%;
        height: 100%;
        border-top: 1px solid var(--dark-grey-color);
        padding-top: var(--small-padding);

        .title {
          padding-bottom: calc(var(--small-padding) / 2);
        }

        .champ-icon {
          display: flex;


          & * {
            display: grid;
            place-items: center;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background-color: var(--medium-grey-color);
            margin-right: 5px;
          }
        }

      }

      .btn-wrapper {
        display: flex;
  
        span {
          padding-left: 10px;
          padding-right: 10px;
        }
  
      }
  
    }

  }

}