<p>Salut <%= @resource.email %>!</p>

<p>une demande de lien de changement fe mot de passe a été effectué sur votre compte, cliquez sur le lien sci dessous pour effectuer la démarche :</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>si vous n'êtes pas à l'origine de cette demande, ignorez ce mail.</p>
<p>Votre mot de passe ne sera pas modifié tant que vous n'aurez pas cliqué sur ce lien et choisi un nouveau.</p>
