<p>Salut <%= @resource.email %>!</p>

<p>Votre compte a été bloqué suite à trop grand nombre d'acrtions/requête sur notre site.</p>

<p>Cliquez sur le lien cid essous pour débloquer votre compte : </p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
