.login
{

}

.form-container { 
    text-align: center;
    margin:10px 0; // add top and bottom margin
    
    
    #user_email, #user_password, #user_password_confirmation   {
        border-radius: 2rem;
        background-color: var(--dark-grey-color);
        border: none;
        padding-top: 10px;
        margin-bottom: 15px;
        color: var(--light-grey-color);
        float:right;      
         box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; 

    .actions {
        border-radius: 10%;
        background-color: var(--secondary-dark-color);
    }
        
}
}

.title-container {
    padding-bottom: 20px;
    padding-top: 8px;
}

.link-color {
    color:var(--light-grey-color);
}

    
.login-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40%;
    width: 100%;
    padding: calc(var(--small-padding) / 2) 5px calc(var(--small-padding) / 2) var(--small-padding);              
}
    