.parent {
    height:100vh;
    width:100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;

    
    & * {
            background-color: var(--secondary-dark-color);
    }
    

    
    .div1 { 
        grid-area: 1 / 1 / 2 / 2; 
        height:100%;
        width:100%;
    }
    .div2 { 
        grid-area: 1 / 2 / 2 / 3; 
        height:100%;
        width:100%;
    }

}