nav {
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr 100px;
  border-right: 1px solid var(--dark-grey-color);

  .navbar-info {
    display: grid;
    place-items: center;

    .navbar-icons {
      display: grid;
      place-items: center;
      grid-row-gap: 20px;
    }

  }

}


.conv {
    display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding:20px;
    
    .div1 { grid-area: 1 / 1 / 2 / 2;
        height: 100%;
        width: 100%; }
    .div2 { grid-area: 1 / 2 / 2 / 3;background-color: aqua;
        height: 100vh;
        width: 100vh; }
    .div3 { grid-area: 2 / 2 / 3 / 3;background-color: aqua;
        height: 100%;
        width: 100vh; }
    .div4 { grid-area: 2 / 1 / 3 / 2;background-color: aqua;
        height: 100%;
        width: 100vh; }
}